numpy>=1.26.0
scikit-learn>=1.4.0
tensorflow>=2.16.0
jupyter>=1.0.0
notebook>=7.0.0
matplotlib>=3.8.0
torch>=2.0.0
torchvision
torchaudio
transformers>=4.30.0
datasets>=2.14.0
tqdm>=4.65.0
opencv-python>=4.8.0